In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

<p>
    Here we are going to get weekly data and we are going to fill missing gdp values.
</p>

In [2]:
covid_clean = pd.read_csv("../Data/Raw/owid-covid-data-clean.csv")
covid_clean.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality,total_cases_smoothed,total_deaths_smoothed,total_boosters_smooth,people_fully_vaccinated_smooth,total_vaccinations_smooth,total_people_vaccinated_smooth
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
covid_clean['date'] = pd.to_datetime(covid_clean['date'])

In [29]:
reference_date = pd.to_datetime('2020-01-05')
date_diff = (covid_clean['date'] - reference_date).dt.days
covid_clean_new = covid_clean[date_diff % 7 == 0].copy()

In [31]:
covid_clean_new.reset_index(drop=True, inplace=True)
covid_clean_new.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality,total_cases_smoothed,total_deaths_smoothed,total_boosters_smooth,people_fully_vaccinated_smooth,total_vaccinations_smooth,total_people_vaccinated_smooth
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-12,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-19,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-02-02,0.0,0.0,0.0,0.0,0.0,0.0,...,64.83,0.511,41128772.0,-1000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
covid_clean_new = covid_clean_new[['iso_code', 'continent', 'location', 'date',
                                   'new_cases', 'new_deaths', 'new_vaccinations_smoothed',
                                   'new_people_vaccinated_smoothed', 'reproduction_rate',
                                    'stringency_index', 'excess_mortality', 'gdp_per_capita']]
covid_clean_new.head()

,iso_code,continent,location,date,new_cases,new_deaths,new_vaccinations_smoothed,new_people_vaccinated_smoothed,reproduction_rate,stringency_index,excess_mortality,gdp_per_capita
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0,1803.987
1,AFG,Asia,Afghanistan,2020-01-12,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0,1803.987
2,AFG,Asia,Afghanistan,2020-01-19,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0,1803.987
3,AFG,Asia,Afghanistan,2020-01-26,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0,1803.987
4,AFG,Asia,Afghanistan,2020-02-02,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0,1803.987

In [48]:
tmp = covid_clean_new[covid_clean_new['gdp_per_capita'] == -1]['iso_code'].tolist()
tmp_series = pd.Series(tmp)
unique_iso_codes = tmp_series.unique()
set(unique_iso_codes)

{'AIA',
 'AND',
 'ASM',
 'BES',
 'BLM',
 'COK',
 'CUB',
 'CUW',
 'FLK',
 'FRO',
 'GGY',
 'GIB',
 'GLP',
 'GRL',
 'GUF',
 'GUM',
 'IMN',
 'JEY',
 'LIE',
 'MAF',
 'MCO',
 'MNP',
 'MSR',
 'MTQ',
 'MYT',
 'NCL',
 'NIU',
 'PCN',
 'PRK',
 'PYF',
 'REU',
 'SHN',
 'SOM',
 'SPM',
 'SYR',
 'TCA',
 'TKL',
 'VAT',
 'VGB',
 'VIR',
 'WLF'}

In [65]:
null_gdp_countries = {
'ASM' : 0,
'AND' : 0,
'AIA' : 0,
'BES' : 0,
'COK' : 0,
'CUB' : 0,
'CUW' : 0,
'FRO' : 0,
'GUF' : 0,
'PYF' : 0,
'GIB' : 0,
'GRL' : 0,
'GLP' : 0,
'GUM' : 0,
'GGY' : 0,
'IMN' : 0,
'JEY' : 0,
'LIE' : 0,
'MTQ' : 0,
'MYT' : 0,
'MCO' : 0,
'MSR' : 0,
'NCL' : 0,
'NIU' : 0,
'MNP' : 0,
'PCN' : 0,
'REU' : 0,
'BLM' : 0,
'SHN' : 0,
'SPM' : 0,
'SOM' : 0,
'SYR' : 0,
'TKL' : 0,
'TCA' : 0,
'WLF' : 0
}

In [51]:
gdp_countries = pd.read_csv("../Data/GDP data for empty countries.csv", encoding='latin1')
gdp_countries.head()

,iso code,Country/Territory,GDP (USD),GDP per Capita (USD)
0,ASM,American Samoa,$871 million1,"$19,673"
1,AND,Andorra,$3.35 billion2,"$41,992"
2,AIA,Anguilla,-,"$28,561"
3,BES,"Bonaire, Sint Eustatius and Saba",-,"$27,000"
4,COK,Cook Islands,-,"$18,806"

In [58]:
# Assuming 'df' is your DataFrame and 'column_name' is the name of the column containing the data
gdp_list = gdp_countries['GDP per Capita (USD)'].str.replace('[€£$]',
                                                             '').str.replace(',',
                                                                             '').astype(float)

C:\Users\MOHAMM~1\AppData\Local\Temp/ipykernel_11220/743333043.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  gdp_list = gdp_countries['GDP per Capita (USD)'].str.replace('[€£$]',

In [66]:
for i, key in enumerate(null_gdp_countries.keys()):
    null_gdp_countries[key] = gdp_list[i]
null_gdp_countries

{'ASM': 19673.0,
 'AND': 41992.0,
 'AIA': 28561.0,
 'BES': 27000.0,
 'COK': 18806.0,
 'CUB': 7449.0,
 'CUW': 20502.0,
 'FRO': 66979.0,
 'GUF': 17928.0,
 'PYF': 22000.0,
 'GIB': 71787.0,
 'GRL': 57116.0,
 'GLP': 24300.0,
 'GUM': 35600.0,
 'GGY': 52761.0,
 'IMN': 79530.0,
 'JEY': 45320.0,
 'LIE': 197504.0,
 'MTQ': 29353.32,
 'MYT': 12204.0,
 'MCO': 239437.0,
 'MSR': 16461.0,
 'NCL': 35745.0,
 'NIU': 19464.0,
 'MNP': 17300.0,
 'PCN': 2429.0,
 'REU': 18517.68,
 'BLM': 42113.52,
 'SHN': 7800.0,
 'SPM': 46200.0,
 'SOM': 592.0,
 'SYR': 421.0,
 'TKL': 7445.0,
 'TCA': 24918.0,
 'WLF': 10908.0}

In [71]:
for key in null_gdp_countries.keys():
    # Filter the rows where 'iso_code' matches the current key
    filtered_rows = covid_clean_new['iso_code'] == key
    
    # Assign values from null_gdp_countries[key] to the filtered rows
    covid_clean_new.loc[filtered_rows, 'gdp_per_capita'] = null_gdp_countries[key]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [73]:
tmp = covid_clean_new[covid_clean_new['gdp_per_capita'] == -1]['iso_code'].tolist()
tmp_series = pd.Series(tmp)
unique_iso_codes = tmp_series.unique()
unique_iso_codes

array(['VGB', 'FLK', 'PRK', 'MAF', 'VIR', 'VAT'], dtype=object)

In [81]:
final_iso_codes = [34246.0, 70800.0, 639.0, 20321.0, 41976.0, 21198.0]
len(final_iso_codes)

6

In [82]:
for i, key in enumerate(unique_iso_codes):
    # Filter the rows where 'iso_code' matches the current key
    filtered_rows = covid_clean_new['iso_code'] == key
    
    # Assign values from null_gdp_countries[key] to the filtered rows
    covid_clean_new.loc[filtered_rows, 'gdp_per_capita'] = final_iso_codes[i]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [83]:
tmp = covid_clean_new[covid_clean_new['gdp_per_capita'] == -1]['iso_code'].tolist()
tmp_series = pd.Series(tmp)
unique_iso_codes = tmp_series.unique()
len(unique_iso_codes)

C:\Users\MOHAMM~1\AppData\Local\Temp/ipykernel_11220/2790440523.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tmp_series = pd.Series(tmp)

0

In [92]:
iso_code_gdp_per_capita_df = covid_clean_new.drop_duplicates(subset=['iso_code', 'gdp_per_capita'])[['iso_code', 'gdp_per_capita']]

In [94]:
iso_code_gdp_per_capita_df.to_csv('../Data/Raw/new_approach/iso_code_gdp_per_capita.csv', index=False)

In [96]:
covid_clean_new = covid_clean_new.rename(columns={'new_vaccinations_smoothed': 'new_vaccinations',
                                                  'new_people_vaccinated_smoothed' : 'new_people_vaccinated'})

In [98]:
covid_clean_new = covid_clean_new.drop('iso_code', axis=1)
covid_clean_new = covid_clean_new.drop('continent', axis=1)
covid_clean_new = covid_clean_new.drop('gdp_per_capita', axis=1)

In [99]:
covid_clean_new.head()

,location,date,new_cases,new_deaths,new_vaccinations,new_people_vaccinated,reproduction_rate,stringency_index,excess_mortality
0,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
1,Afghanistan,2020-01-12,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
2,Afghanistan,2020-01-19,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
3,Afghanistan,2020-01-26,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
4,Afghanistan,2020-02-02,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0

In [103]:
covid_clean_new['date'] = pd.to_datetime(covid_clean_new['date'])
covid_clean_new['week_no'] = (((covid_clean_new['date']-covid_clean_new['date'].min()).dt.days)//7 + 1)

In [104]:
covid_clean_new = covid_clean_new.drop('date', axis=1)

In [107]:
columns = covid_clean_new.columns.tolist()
columns = [columns[-1]] + columns[:-1]
covid_clean_new = covid_clean_new[columns]

In [121]:
covid_clean_new['reproduction_rate'].unique()

array([ 1.   ,  1.51 ,  1.49 ,  1.48 ,  1.55 ,  1.58 ,  1.56 ,  1.44 ,
        1.33 ,  1.21 ,  1.09 ,  0.99 ,  0.89 ,  0.83 ,  0.8  ,  0.78 ,
        0.76 ,  0.77 ,  0.79 ,  0.86 ,  0.88 ,  0.9  ,  1.02 ,  1.03 ,
        1.15 ,  1.2  ,  1.19 ,  1.17 ,  1.11 ,  1.05 ,  0.95 ,  0.85 ,
        0.82 ,  0.84 ,  0.93 ,  1.1  ,  1.29 ,  1.34 ,  1.31 ,  1.37 ,
        1.38 ,  1.32 ,  1.22 ,  1.13 ,  0.94 ,  0.75 ,  0.74 ,  0.7  ,
        0.65 ,  0.66 ,  0.73 ,  0.87 ,  0.91 ,  0.97 ,  0.98 ,  1.04 ,
        1.08 ,  1.41 ,  1.5  ,  1.07 ,  0.81 ,  1.16 ,  1.25 ,  1.23 ,
        1.12 ,  1.18 ,  1.01 ,  0.92 ,  1.26 ,  1.45 ,  1.3  ,  1.06 ,
        1.14 ,  0.67 ,  0.61 ,  0.6  ,  0.64 ,  0.68 ,  0.69 ,  1.42 ,
        1.6  ,  1.71 ,  1.86 ,  1.76 ,  1.57 ,  1.24 ,  1.52 ,  1.75 ,
        0.57 ,  0.58 ,  0.96 ,  1.88 ,  1.82 ,  1.7  ,  0.59 ,  0.63 ,
        1.79 ,  1.36 ,  1.47 ,  1.4  ,  1.27 ,  1.61 ,  0.43 ,  0.36 ,
        0.33 ,  0.37 ,  0.44 ,  0.53 ,  0.54 ,  1.39 ,  1.53 ,  0.52 ,
        0.47 ,  0.48 ,  0.72 , -1.   ,  0.5  ,  0.46 ,  0.45 ,  0.38 ,
        0.34 ,  1.35 ,  1.28 ,  1.59 ,  1.62 ,  0.55 ,  0.56 ,  0.49 ,
        0.62 ,  0.42 ,  0.39 ,  0.4  ,  0.71 ,  1.83 ,  2.69 ,  2.57 ,
        1.54 ,  0.3  ,  0.16 ,  0.07 ,  0.04 ,  0.02 ,  0.03 ,  0.08 ,
        0.24 ,  0.21 ,  0.1  ,  0.32 ,  0.12 ,  0.06 ,  0.01 ,  0.   ,
        0.05 ,  0.13 ,  0.28 ,  0.29 ,  1.46 ,  0.51 ,  0.22 ,  0.15 ,
        0.09 ,  2.37 ,  1.69 ,  2.11 ,  2.01 ,  1.74 ,  0.14 ,  0.19 ,
        0.23 ,  1.43 ,  1.63 ,  2.18 ,  1.95 ,  0.41 ,  0.31 , -0.01 ,
        2.32 ,  2.44 ,  1.73 ,  2.02 ,  2.17 ,  1.78 ,  2.86 ,  2.23 ,
        1.67 ,  1.66 ,  0.27 ,  1.68 ,  0.2  ,  1.85 ,  1.8  ,  2.04 ,
        2.61 ,  1.98 ,  2.08 ,  2.25 ,  2.1  ,  2.78 ,  2.68 ,  2.07 ,
        2.41 ,  2.38 ,  2.13 ,  0.18 ,  0.35 ,  0.26 ,  0.17 ,  0.11 ,
        1.64 ,  0.25 ,  2.34 ,  2.05 ,  1.96 ,  1.65 ,  2.35 ,  2.39 ,
        2.53 ,  3.59 ,  2.59 ,  1.93 ,  2.24 ,  2.21 ,  2.26 ,  2.   ,
        1.81 ,  2.09 ,  2.15 ,  2.31 ,  3.25 ,  2.28 ,  2.3  ,  1.9  ,
        2.03 ,  1.87 ,  3.35 ,  3.37 , -0.02 , -0.03 ,  2.14 ,  2.56 ,
        1.91 ,  1.77 ,  3.04 ,  2.96 ,  2.6  ,  1.94 ,  2.85 ,  2.72 ,
        2.27 ,  2.29 ,  4.65 ,  1.72 ,  1.025,  1.99 ,  2.64 ,  2.8  ,
        2.12 ,  2.16 ,  3.03 ,  2.45 ,  0.965,  3.14 ,  1.97 ,  2.63 ,
        2.4  ,  2.06 ,  2.2  ,  2.33 ,  2.22 ,  1.92 ,  1.89 ,  2.54 ,
        2.48 ,  3.23 ,  0.905,  2.52 ,  2.19 ,  1.84 ,  2.58 ,  2.49 ,
        2.94 ,  0.565,  2.43 ,  3.85 ,  2.88 ,  1.015,  0.915,  4.5  ,
        2.66 ,  1.125,  2.95 ,  2.79 ,  4.07 ,  2.83 ,  2.42 ,  2.47 ,
        3.46 ,  3.42 ,  3.18 ,  0.705,  0.795])

In [126]:
for column in covid_clean_new.columns:
    if column == 'excess_mortality':
        per = len(covid_clean_new[covid_clean_new[column] == -1000.0])/len(covid_clean_new)
    else:
        per = len(covid_clean_new[covid_clean_new[column] == -1])/len(covid_clean_new)
    print(f'{column} == {per}')

week_no == 0.0
location == 0.0
new_cases == 0.0
new_deaths == 0.0
new_vaccinations == 0.0811965811965812
new_people_vaccinated == 0.0811965811965812
reproduction_rate == 0.1752136752136752
stringency_index == 0.2222222222222222
excess_mortality == 0.47863247863247865

In [128]:
covid_clean_new['new_vaccinations'] = covid_clean_new['new_vaccinations'].replace(-1, -1000)
covid_clean_new['new_people_vaccinated'] = covid_clean_new['new_people_vaccinated'].replace(-1, -1000)
covid_clean_new['reproduction_rate'] = covid_clean_new['reproduction_rate'].replace(-1, -1000)
covid_clean_new['stringency_index'] = covid_clean_new['stringency_index'].replace(-1, -1000)

In [130]:
for column in covid_clean_new.columns:
    per = len(covid_clean_new[covid_clean_new[column] == -1000.0])/len(covid_clean_new)
    print(f'{column} == {per}')

week_no == 0.0
location == 0.0
new_cases == 0.0
new_deaths == 0.0
new_vaccinations == 0.0811965811965812
new_people_vaccinated == 0.0811965811965812
reproduction_rate == 0.1752136752136752
stringency_index == 0.2222222222222222
excess_mortality == 0.47863247863247865

In [131]:
covid_clean_new.head()

,week_no,location,new_cases,new_deaths,new_vaccinations,new_people_vaccinated,reproduction_rate,stringency_index,excess_mortality
0,1,Afghanistan,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
1,2,Afghanistan,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
2,3,Afghanistan,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
3,4,Afghanistan,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0
4,5,Afghanistan,0.0,0.0,0.0,0.0,1.0,0.0,-1000.0

In [132]:
covid_clean_new.to_csv('../Data/Raw/new_approach/Weekly_Covid_Data.csv', index=False)