# Network Building

In [1]:
import pandas as pd
import numpy as np

In [77]:
distancesdf = pd.read_csv("..\Data\distances\All countries distances.csv")
distancesdf

,Unnamed: 0,Unnamed: 1,Aruba,Afghanistan,Angola,Anguilla,Albania,Andorra,United Arab Emirates,Argentina,...,Saint Vincent and the Grenadines,Venezuela (Bolivarian Republic of),Viet Nam,Vanuatu,Wallis and Futuna,Samoa,Yemen,South Africa,Zambia,Zimbabwe
0,NaN,NaN,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
1,Aruba,ABW,0,13252.56256,9500.724683,973.5351204,9085.425408,7565.41451,12767.09843,5360.114081,...,953.2176283,407.2542332,17394.63081,13764.06614,12057.3203,11596.22719,12153.64743,10635.96005,11252.79227,11587.65972
2,Afghanistan,AFG,13252.56256,0,7592.695548,12295.40234,4344.887482,5809.607175,1685.264881,15269.25799,...,12582.31257,13213.10174,4615.406201,11930.66362,13090.89964,13527.15629,3279.105626,9242.212938,7017.607917,7060.695339
3,Angola,AGO,9500.724683,7592.695548,0,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,...,8581.313382,9127.152398,10567.40567,16001.48383,17350.88299,17438.15462,4339.161563,2828.661088,1791.381489,2169.266415
4,Anguilla,AIA,973.5351204,12295.40234,8894.790019,0,8111.936087,6591.882815,11797.58228,5867.656461,...,593.1989868,949.1653761,16601.57494,14610.02975,12882.44392,12434.62797,11234.49529,10369.91763,10679.29989,11038.90315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Samoa,WSM,11596.22719,13527.15629,17438.15462,12434.62797,16759.47739,16761.78263,14959.12542,11185.13156,...,12543.77861,11884.10021,9411.22574,2175.42335,480.9768973,0,16159.64578,14610.46348,16098.58256,15708.70415
232,Yemen,YEM,12153.64743,3279.105626,4339.161563,11234.49529,3714.76527,5054.902767,1593.877336,12106.10949,...,11237.07494,11916.26731,6766.677531,14084.64123,15678.67383,16159.64578,0,6100.92204,3826.262134,3943.72587
233,South Africa,ZAF,10635.96005,9242.212938,2828.661088,10369.91763,8333.606713,8637.352023,7623.169563,6883.744302,...,9888.665734,10228.70583,10513.35118,13462.76552,14557.66063,14610.46348,6100.92204,0,2278.299176,2182.649348
234,Zambia,ZMB,11252.79227,7017.607917,1791.381489,10679.29989,6341.330364,6973.879792,5369.146014,8755.75237,...,10347.97328,10869.85947,9107.98163,14307.79199,15855.31295,16098.58256,3826.262134,2278.299176,0,398.601357
235,Zimbabwe,ZWE,11587.65972,7060.695339,2169.266415,11038.90315,6650.773482,7335.131079,5443.214239,8856.878091,...,10693.26154,11200.07992,8887.315464,13910.07512,15458.90003,15708.70415,3943.72587,2182.649348,398.601357,0

In [2]:
distancesdf = pd.read_csv("..\Data\distances\All countries distances.csv")

distancesdf.drop(0 , inplace=True)
distancesdf.drop('Unnamed: 1', axis=1, inplace=True)
distancesdf.index = distancesdf['Unnamed: 0']
distancesdf.drop('Unnamed: 0', axis=1, inplace=True)
#distancesdf.set_index('Country', inplace=True)

In [3]:
df = pd.read_csv("..\Data\Raw\owid-covid-data-clean.csv")

## working with iso code

In [141]:
distancesdfiso = pd.read_csv("..\Data\distances\All countries distances.csv")

In [143]:
distancesdfiso

,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VCT,VEN,VNM,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE
0,,,,,,,,,,,,,,,,,,,,,
ABW,0,13252.56256,9500.724683,973.5351204,9085.425408,7565.41451,12767.09843,5360.114081,11105.2172,11491.15036,...,953.2176283,407.2542332,17394.63081,13764.06614,12057.3203,11596.22719,12153.64743,10635.96005,11252.79227,11587.65972
AFG,13252.56256,0,7592.695548,12295.40234,4344.887482,5809.607175,1685.264881,15269.25799,2264.59571,13650.65576,...,12582.31257,13213.10174,4615.406201,11930.66362,13090.89964,13527.15629,3279.105626,9242.212938,7017.607917,7060.695339
AGO,9500.724683,7592.695548,0,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.81697,...,8581.313382,9127.152398,10567.40567,16001.48383,17350.88299,17438.15462,4339.161563,2828.661088,1791.381489,2169.266415
AIA,973.5351204,12295.40234,8894.790019,0,8111.936087,6591.882815,11797.58228,5867.656461,10134.03598,12335.37891,...,593.1989868,949.1653761,16601.57494,14610.02975,12882.44392,12434.62797,11234.49529,10369.91763,10679.29989,11038.90315
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0,1520.615798,3718.578045,11591.27974,2082.227281,16840.40723,...,8313.202282,8974.865549,8960.200423,16037.392,16534.50577,16759.47739,3714.76527,8333.606713,6341.330364,6650.773482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,11596.22719,13527.15629,17438.15462,12434.62797,16759.47739,16761.78263,14959.12542,11185.13156,15437.92615,125.0267688,...,12543.77861,11884.10021,9411.22574,2175.42335,480.9768973,0,16159.64578,14610.46348,16098.58256,15708.70415
YEM,12153.64743,3279.105626,4339.161563,11234.49529,3714.76527,5054.902767,1593.877336,12106.10949,2751.560858,16279.52565,...,11237.07494,11916.26731,6766.677531,14084.64123,15678.67383,16159.64578,0,6100.92204,3826.262134,3943.72587
ZAF,10635.96005,9242.212938,2828.661088,10369.91763,8333.606713,8637.352023,7623.169563,6883.744302,8632.283231,14583.24433,...,9888.665734,10228.70583,10513.35118,13462.76552,14557.66063,14610.46348,6100.92204,0,2278.299176,2182.649348
ZMB,11252.79227,7017.607917,1791.381489,10679.29989,6341.330364,6973.879792,5369.146014,8755.75237,6379.177432,16121.36795,...,10347.97328,10869.85947,9107.98163,14307.79199,15855.31295,16098.58256,3826.262134,2278.299176,0,398.601357
ZWE,11587.65972,7060.695339,2169.266415,11038.90315,6650.773482,7335.131079,5443.214239,8856.878091,6571.637399,15734.33497,...,10693.26154,11200.07992,8887.315464,13910.07512,15458.90003,15708.70415,3943.72587,2182.649348,398.601357,0

In [142]:
iso_codes = distancesdfiso.iloc[0,2:]
distancesdfiso.drop(0 , inplace=True)
distancesdfiso.drop('Unnamed: 1', axis=1, inplace=True)
distancesdfiso.drop('Unnamed: 0', axis=1, inplace=True)
distancesdfiso.index = iso_codes
distancesdfiso.columns = iso_codes

#distancesdf.set_index('Country', inplace=True)

In [144]:
dfiso= pd.read_csv("..\Data\Raw\owid-covid-data-clean.csv")

In [146]:
ss = pd.DataFrame()

ss[['BRN', 'KOR', 'LAO']] = distancesdfiso[mapping.values()]

df1 = distancesdfiso
df2 = ss

# Concatenate the DataFrames along axis 1 (columns)
result = pd.concat([df1, df2], axis=1)
result = pd.concat([result, df2.T],  axis=0)


result.loc['BRN' , 'BRN']= 0
result.loc['KOR' , 'KOR']= 0
result.loc['LAO' , 'LAO']= 0



# Print the concatenated DataFrame
(result)

,ABW,AFG,AGO,AIA,ALB,AND,ARE,ARG,ARM,ASM,...,VUT,WLF,WSM,YEM,ZAF,ZMB,ZWE,BRN,KOR,LAO
ABW,0,13252.56256,9500.724683,973.5351204,9085.425408,7565.41451,12767.09843,5360.114081,11105.2172,11491.15036,...,13764.06614,12057.3203,11596.22719,12153.64743,10635.96005,11252.79227,11587.65972,18335.52955,13827.483,16916.69768
AFG,13252.56256,0,7592.695548,12295.40234,4344.887482,5809.607175,1685.264881,15269.25799,2264.59571,13650.65576,...,11930.66362,13090.89964,13527.15629,3279.105626,9242.212938,7017.607917,7060.695339,5147.379038,6282.040108,3900.232571
AGO,9500.724683,7592.695548,0,8894.790019,5594.945971,5808.941318,5917.159476,7777.930733,6309.127205,17411.81697,...,16001.48383,17350.88299,17438.15462,4339.161563,2828.661088,1791.381489,2169.266415,10107.90853,13852.22179,9956.128963
AIA,973.5351204,12295.40234,8894.790019,0,8111.936087,6591.882815,11797.58228,5867.656461,10134.03598,12335.37891,...,14610.02975,12882.44392,12434.62797,11234.49529,10369.91763,10679.29989,11038.90315,17422.95757,13577.29918,16040.51786
ALB,9085.425408,4344.887482,5594.945971,8111.936087,0,1520.615798,3718.578045,11591.27974,2082.227281,16840.40723,...,16037.392,16534.50577,16759.47739,3714.76527,8333.606713,6341.330364,6650.773482,9417.929012,9509.888887,8241.109128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZMB,11252.79227,7017.607917,1791.381489,10679.29989,6341.330364,6973.879792,5369.146014,8755.75237,6379.177432,16121.36795,...,14307.79199,15855.31295,16098.58256,3826.262134,2278.299176,0,398.601357,8508.176782,12917.99571,8577.793467
ZWE,11587.65972,7060.695339,2169.266415,11038.90315,6650.773482,7335.131079,5443.214239,8856.878091,6571.637399,15734.33497,...,13910.07512,15458.90003,15708.70415,3943.72587,2182.649348,398.601357,0,8241.757744,12810.09044,8386.241292
BRN,18335.52955,5147.379038,10107.90853,17422.95757,9417.929012,10923.03713,5842.557201,15884.36928,7354.898755,9561.786928,...,7366.302305,8965.228966,9444.877547,6727.506374,9670.436984,8508.176782,8241.757744,0,NaN,NaN
KOR,13827.483,6282.040108,13852.22179,13577.29918,9509.888887,10362.29031,7941.781599,18377.68864,7948.119528,7605.075147,...,6639.202306,7137.284826,7491.965183,9513.115081,14729.45548,12917.99571,12810.09044,NaN,0,NaN
LAO,16916.69768,3900.232571,9956.128963,16040.51786,8241.109128,9708.300563,4887.458351,16877.34315,6158.887741,10261.12481,...,8220.636609,9660.44289,10137.82162,6052.300691,10142.25223,8577.793467,8386.241292,NaN,NaN,0

### for setting countries

In [168]:
# Convert columns to sets for easier comparison
set_df1 = set(dfiso['iso_code'].unique())
set_df2 = set(distancesdfiso.columns)

# Find members in df1 but not in df2
not_in_df2 = set_df1 - set_df2

# Find members in df2 but not in df1
not_in_df1 = set_df2 - set_df1

print("Members in gdp data but not in distances:", sorted(not_in_df2))
print("Members in distances but not in gdp data:", sorted(not_in_df1))

Members in gdp data but not in distances: ['BRN', 'FLK', 'KOR', 'LAO', 'MAF', 'OWID_KOS', 'PRK', 'SXM', 'VAT', 'VGB', 'VIR']
Members in distances but not in gdp data: ['ATA', 'ATF', 'CCK', 'CXR', 'ESH', 'HKG', 'IOT', 'MAC', 'NFK', 'SGS', 'SJM', 'TWN']

In [169]:
allcountries = set(['BRN', 'FLK', 'KOR', 'LAO', 'MAF', 'OWID_KOS', 'PRK', 'SXM', 'VAT', 'VGB', 'VIR'])

remaining   = set(['BRN', 'KOR', 'LAO', 'SXM', 'VGB'])

toremove =  allcountries - remaining

In [170]:
distancesdfiso.drop(['ATA', 'ATF', 'CCK', 'CXR', 'ESH', 'HKG', 'IOT', 'MAC', 'NFK', 'SGS', 'SJM', 'TWN'], inplace=True)
distancesdfiso.drop(['ATA', 'ATF', 'CCK', 'CXR', 'ESH', 'HKG', 'IOT', 'MAC', 'NFK', 'SGS', 'SJM', 'TWN'], axis=1, inplace=True)

In [171]:
# Categories to remove
categories_to_remove = ['FLK', 'MAF', 'OWID_KOS', 'PRK', 'VAT', 'VIR']

# Remove rows with categories in the list
filtered_df = dfiso[~dfiso['iso_code'].isin(categories_to_remove)]
filtered_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,life_expectancy,human_development_index,population,excess_mortality,total_cases_smoothed,total_deaths_smoothed,total_boosters_smooth,people_fully_vaccinated_smooth,total_vaccinations_smooth,total_people_vaccinated_smooth
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.000,0.0,0.0,0.000,...,64.83,0.511,41128772.0,-1000.0,0.000,0.000,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.000,0.0,0.0,0.000,...,64.83,0.511,41128772.0,-1000.0,0.000,0.000,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.000,0.0,0.0,0.000,...,64.83,0.511,41128772.0,-1000.0,0.000,0.000,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.000,0.0,0.0,0.000,...,64.83,0.511,41128772.0,-1000.0,0.000,0.000,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.000,0.0,0.0,0.000,...,64.83,0.511,41128772.0,-1000.0,0.000,0.000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288049,ZWE,Africa,Zimbabwe,2023-05-15,264841.0,0.0,10.714,5690.0,0.0,0.286,...,61.49,0.571,16320539.0,-1000.0,264787.419,5688.576,1033676.0,4751270.0,12221738.0,12221738.0
288050,ZWE,Africa,Zimbabwe,2023-05-16,264841.0,0.0,10.714,5690.0,0.0,0.286,...,61.49,0.571,16320539.0,-1000.0,264798.133,5688.862,1033676.0,4751270.0,12221738.0,12221738.0
288051,ZWE,Africa,Zimbabwe,2023-05-17,264841.0,0.0,10.714,5690.0,0.0,0.286,...,61.49,0.571,16320539.0,-1000.0,264808.847,5689.148,1033676.0,4751270.0,12221738.0,12221738.0
288052,ZWE,Africa,Zimbabwe,2023-05-18,264841.0,0.0,10.714,5690.0,0.0,0.286,...,61.49,0.571,16320539.0,-1000.0,264819.561,5689.434,1033676.0,4751270.0,12221738.0,12221738.0
288053,ZWE,Africa,Zimbabwe,2023-05-19,264841.0,0.0,10.714,5690.0,0.0,0.286,...,61.49,0.571,16320539.0,-1000.0,264830.275,5689.720,1033676.0,4751270.0,12221738.0,12221738.0

## 1

In [ ]:
distancesdf.drop(0 , inplace=True)
distancesdf.drop('Unnamed: 1', axis=1, inplace=True)
distancesdf.index = distancesdf['Unnamed: 0']
distancesdf.drop('Unnamed: 0', axis=1, inplace=True)
#distancesdf.set_index('Country', inplace=True)

In [4]:
countries2remove = ['ATF', 'HKG', 'IOT', 'MAC', 'NFK', 'CXR', 'ATA', 'SGS', 'SJM', 'ESH', 'CCK', 'TWN']

In [5]:
distancesdf.columns

Index(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Vanuatu',
       'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia',
       'Zimbabwe'],
      dtype='object', length=235)

In [6]:
# Convert columns to sets for easier comparison
set_df1 = set(df['location'].unique())
set_df2 = set(distancesdf.columns)

# Find members in df1 but not in df2
not_in_df2 = set_df1 - set_df2

# Find members in df2 but not in df1
not_in_df1 = set_df2 - set_df1

print("Members in df1 but not in df2:", sorted(not_in_df2))
print("Members in df2 but not in df1:", sorted(not_in_df1))

Members in df1 but not in df2: ['Bolivia', 'Bonaire Sint Eustatius and Saba', 'British Virgin Islands', 'Brunei', 'Cape Verde', "Cote d'Ivoire", 'Curacao', 'Democratic Republic of Congo', 'Eswatini', 'Faeroe Islands', 'Falkland Islands', 'Iran', 'Kosovo', 'Laos', 'Micronesia (country)', 'North Korea', 'Palestine', 'Reunion', 'Russia', 'Saint Barthelemy', 'Saint Helena', 'Saint Martin (French part)', 'Sint Maarten (Dutch part)', 'South Korea', 'Syria', 'Tanzania', 'Timor', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Vatican', 'Venezuela', 'Vietnam']
Members in df2 but not in df1: ['Antarctica', 'Bolivia (Plurinational State of)', 'Bonaire, Sint Eustatius and Saba', 'British Indian Ocean Territory', 'Cabo Verde', 'Christmas Island', 'Cocos (Keeling) Islands', 'Congo (the Democratic Republic of the)', 'Curaçao', "Côte d'Ivoire", 'Faroe Islands', 'French Southern Territories', 'Hong Kong', 'Iran (Islamic Republic of)', 'Macao', 'Micronesia (Federated States of)', 'Norfolk Island', 'Palestine, State of', 'Russian Federation', 'Réunion', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'South Georgia and the South Sandwich Islands', 'Svalbard and Jan Mayen', 'Swaziland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tanzania, United Republic of', 'Timor-Leste', 'United Kingdom of Great Britain and Northern Ireland', 'United States of America', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Western Sahara']

## 2

In [155]:
# Columns to exclude
columns_to_exclude = ['iso_code', 'location' , 'gdp_per_capita']

# Select only the columns to exclude and save them into a new DataFrame
excluded_df = dfiso[columns_to_exclude]

df_no_duplicates = excluded_df.drop_duplicates()
gdp_df = df_no_duplicates.reset_index(drop=True)
gdp_df.index = gdp_df['iso_code']
gdp_df.drop('iso_code'  ,axis=1 , inplace=True )
# Display the new DataFrame
print(gdp_df)

                   location  gdp_per_capita
iso_code
AFG             Afghanistan        1803.987
ALB                 Albania       11803.431
DZA                 Algeria       13913.839
ASM          American Samoa          -1.000
AND                 Andorra          -1.000
...                     ...             ...
VNM                 Vietnam        6171.884
WLF       Wallis and Futuna          -1.000
YEM                   Yemen        1479.147
ZMB                  Zambia        3689.251
ZWE                Zimbabwe        1899.775

[234 rows x 2 columns]

In [151]:
country1 = 'AFG'
country2 = 'ALB'
float(distancesdfiso.loc[country1, country2])

4344.887482

In [203]:
def calculate_interaction(gdp_df, distance_matrix, country1, country2):
    
    # Extract GDPs for the two countries
    gdp1 = gdp_df.loc[country1, 'gdp_per_capita']
    gdp2 = gdp_df.loc[country2, 'gdp_per_capita']
    
    if  gdp1<0 or gdp2 <0:
        interaction = -1
    else:
        # Extract the distance between the two countries
        distance = float(distance_matrix.loc[country1, country2])
        
        # Calculate the interaction
        interaction = (gdp1 * gdp2) / (distance ** 2)
    
    return interaction

# Sample distance matrix DataFrame (symmetric matrix)
distance_matrix = distancesdfiso

# Example usage
country1 = 'AFG'
country2 = 'AIA'
interaction = calculate_interaction(gdp_df, distance_matrix, country1, country2)
print("Interaction between", country1, "and", country2, ":", interaction)

Interaction between AFG and AIA : -1

In [167]:
gdp_df.loc['AFG' , 'gdp_per_capita' ]

1803.987

In [204]:
try:
    gdp_df = gdp_df.drop([ 'FLK', 'MAF', 'OWID_KOS', 'PRK', 'SXM', 'VAT', 'VGB', 'VIR'] , axis=0)
except:
    interaction_matrix = pd.DataFrame(index=gdp_df.index, columns=gdp_df.index)

    # Iterate over pairs of countries
    for country1 in gdp_df.index:
        for country2 in gdp_df.index:
            
            if country1==country2:
                interaction_matrix.loc[country1, country2] = 0
                continue
            
            if country2>country1:

                try:
                    interaction = calculate_interaction(gdp_df, distance_matrix, country1, country2)
                except:
                    print("error in : country1: ", country1 , "country2:" , country2)
                    continue
                
                # Store the interaction in the symmetric matrix
                interaction_matrix.loc[country1, country2] = interaction
                interaction_matrix.loc[country2, country1] = interaction  # Symmetric
                
    interaction_matrix

error in : country1:  AFG country2: BRN
error in : country1:  AFG country2: LAO
error in : country1:  AFG country2: KOR
error in : country1:  ALB country2: BRN
error in : country1:  ALB country2: LAO
error in : country1:  ALB country2: KOR
error in : country1:  DZA country2: LAO
error in : country1:  DZA country2: KOR
error in : country1:  AGO country2: BRN
error in : country1:  AGO country2: LAO
error in : country1:  AGO country2: KOR
error in : country1:  ATG country2: BRN
error in : country1:  ATG country2: LAO
error in : country1:  ATG country2: KOR
error in : country1:  ARG country2: BRN
error in : country1:  ARG country2: LAO
error in : country1:  ARG country2: KOR
error in : country1:  ARM country2: BRN
error in : country1:  ARM country2: LAO
error in : country1:  ARM country2: KOR
error in : country1:  ABW country2: BRN
error in : country1:  ABW country2: LAO
error in : country1:  ABW country2: KOR
error in : country1:  AUS country2: BRN
error in : country1:  AUS country2: LAO
error in : country1:  AUS country2: KOR
error in : country1:  AUT country2: BRN
error in : country1:  AUT country2: LAO
error in : country1:  AUT country2: KOR
error in : country1:  AZE country2: BRN
error in : country1:  AZE country2: LAO
error in : country1:  AZE country2: KOR
error in : country1:  BHS country2: BRN
error in : country1:  BHS country2: LAO
error in : country1:  BHS country2: KOR
error in : country1:  BHR country2: BRN
error in : country1:  BHR country2: LAO
error in : country1:  BHR country2: KOR
error in : country1:  BGD country2: BRN
error in : country1:  BGD country2: LAO
error in : country1:  BGD country2: KOR
error in : country1:  BRB country2: BRN
error in : country1:  BRB country2: LAO
error in : country1:  BRB country2: KOR
error in : country1:  BLR country2: BRN
error in : country1:  BLR country2: LAO
error in : country1:  BLR country2: KOR
error in : country1:  BEL country2: BRN
error in : country1:  BEL country2: LAO
error in : country1:  BEL country2: KOR
error in : country1:  BLZ country2: BRN
error in : country1:  BLZ country2: LAO
error in : country1:  BLZ country2: KOR
error in : country1:  BEN country2: BRN
error in : country1:  BEN country2: LAO
error in : country1:  BEN country2: KOR
error in : country1:  BMU country2: BRN
error in : country1:  BMU country2: LAO
error in : country1:  BMU country2: KOR
error in : country1:  BTN country2: LAO
error in : country1:  BTN country2: KOR
error in : country1:  BOL country2: BRN
error in : country1:  BOL country2: LAO
error in : country1:  BOL country2: KOR
error in : country1:  BIH country2: BRN
error in : country1:  BIH country2: LAO
error in : country1:  BIH country2: KOR
error in : country1:  BWA country2: LAO
error in : country1:  BWA country2: KOR
error in : country1:  BRA country2: BRN
error in : country1:  BRA country2: LAO
error in : country1:  BRA country2: KOR
error in : country1:  BRN country2: DZA
error in : country1:  BRN country2: BTN
error in : country1:  BRN country2: BWA
error in : country1:  BRN country2: KHM
error in : country1:  BRN country2: CMR
error in : country1:  BRN country2: CAN
error in : country1:  BRN country2: CPV
error in : country1:  BRN country2: CYM
error in : country1:  BRN country2: CAF
error in : country1:  BRN country2: TCD
error in : country1:  BRN country2: CHL
error in : country1:  BRN country2: CHN
error in : country1:  BRN country2: COL
error in : country1:  BRN country2: COM
error in : country1:  BRN country2: COG
error in : country1:  BRN country2: CRI
error in : country1:  BRN country2: CIV
error in : country1:  BRN country2: HRV
error in : country1:  BRN country2: CYP
error in : country1:  BRN country2: CZE
error in : country1:  BRN country2: COD
error in : country1:  BRN country2: DNK
error in : country1:  BRN country2: DJI
error in : country1:  BRN country2: DMA
error in : country1:  BRN country2: DOM
error in : country1:  BRN country2: ECU
error in : country1:  BRN country2: EGY
error in : country1:  BRN country2: SLV
error in : country1:  BRN country2: GNQ
error in : country1:  BRN country2: ERI
error in : country1:  BRN country2: EST
error in : country1:  BRN country2: SWZ
error in : country1:  BRN country2: ETH
error in : country1:  BRN country2: FJI
error in : country1:  BRN country2: FIN
error in : country1:  BRN country2: FRA
error in : country1:  BRN country2: GAB
error in : country1:  BRN country2: GMB
error in : country1:  BRN country2: GEO
error in : country1:  BRN country2: DEU
error in : country1:  BRN country2: GHA
error in : country1:  BRN country2: GRC
error in : country1:  BRN country2: GRD
error in : country1:  BRN country2: GTM
error in : country1:  BRN country2: GIN
error in : country1:  BRN country2: GNB
error in : country1:  BRN country2: GUY
error in : country1:  BRN country2: HTI
error in : country1:  BRN country2: HND
error in : country1:  BRN country2: HUN
error in : country1:  BRN country2: ISL
error in : country1:  BRN country2: IND
error in : country1:  BRN country2: IDN
error in : country1:  BRN country2: IRN
error in : country1:  BRN country2: IRQ
error in : country1:  BRN country2: IRL
error in : country1:  BRN country2: ISR
error in : country1:  BRN country2: ITA
error in : country1:  BRN country2: JAM
error in : country1:  BRN country2: JPN
error in : country1:  BRN country2: JOR
error in : country1:  BRN country2: KAZ
error in : country1:  BRN country2: KEN
error in : country1:  BRN country2: KIR
error in : country1:  BRN country2: KWT
error in : country1:  BRN country2: KGZ
error in : country1:  BRN country2: LAO
error in : country1:  BRN country2: LVA
error in : country1:  BRN country2: LBN
error in : country1:  BRN country2: LSO
error in : country1:  BRN country2: LBR
error in : country1:  BRN country2: LBY
error in : country1:  BRN country2: LTU
error in : country1:  BRN country2: LUX
error in : country1:  BRN country2: MDG
error in : country1:  BRN country2: MWI
error in : country1:  BRN country2: MYS
error in : country1:  BRN country2: MDV
error in : country1:  BRN country2: MLI
error in : country1:  BRN country2: MLT
error in : country1:  BRN country2: MHL
error in : country1:  BRN country2: MRT
error in : country1:  BRN country2: MUS
error in : country1:  BRN country2: MEX
error in : country1:  BRN country2: FSM
error in : country1:  BRN country2: MDA
error in : country1:  BRN country2: MNG
error in : country1:  BRN country2: MNE
error in : country1:  BRN country2: MAR
error in : country1:  BRN country2: MOZ
error in : country1:  BRN country2: MMR
error in : country1:  BRN country2: NAM
error in : country1:  BRN country2: NRU
error in : country1:  BRN country2: NPL
error in : country1:  BRN country2: NLD
error in : country1:  BRN country2: NZL
error in : country1:  BRN country2: NIC
error in : country1:  BRN country2: NER
error in : country1:  BRN country2: NGA
error in : country1:  BRN country2: MKD
error in : country1:  BRN country2: NOR
error in : country1:  BRN country2: OMN
error in : country1:  BRN country2: PAK
error in : country1:  BRN country2: PLW
error in : country1:  BRN country2: PSE
error in : country1:  BRN country2: PAN
error in : country1:  BRN country2: PNG
error in : country1:  BRN country2: PRY
error in : country1:  BRN country2: PER
error in : country1:  BRN country2: PHL
error in : country1:  BRN country2: POL
error in : country1:  BRN country2: PRT
error in : country1:  BRN country2: PRI
error in : country1:  BRN country2: QAT
error in : country1:  BRN country2: ROU
error in : country1:  BRN country2: RUS
error in : country1:  BRN country2: RWA
error in : country1:  BRN country2: KNA
error in : country1:  BRN country2: LCA
error in : country1:  BRN country2: VCT
error in : country1:  BRN country2: WSM
error in : country1:  BRN country2: SMR
error in : country1:  BRN country2: STP
error in : country1:  BRN country2: SAU
error in : country1:  BRN country2: SEN
error in : country1:  BRN country2: SRB
error in : country1:  BRN country2: SYC
error in : country1:  BRN country2: SLE
error in : country1:  BRN country2: SGP
error in : country1:  BRN country2: SVK
error in : country1:  BRN country2: SVN
error in : country1:  BRN country2: SLB
error in : country1:  BRN country2: ZAF
error in : country1:  BRN country2: KOR
error in : country1:  BRN country2: SSD
error in : country1:  BRN country2: ESP
error in : country1:  BRN country2: LKA
error in : country1:  BRN country2: SDN
error in : country1:  BRN country2: SUR
error in : country1:  BRN country2: SWE
error in : country1:  BRN country2: CHE
error in : country1:  BRN country2: TJK
error in : country1:  BRN country2: TZA
error in : country1:  BRN country2: THA
error in : country1:  BRN country2: TLS
error in : country1:  BRN country2: TGO
error in : country1:  BRN country2: TON
error in : country1:  BRN country2: TTO
error in : country1:  BRN country2: TUN
error in : country1:  BRN country2: TUR
error in : country1:  BRN country2: TKM
error in : country1:  BRN country2: TUV
error in : country1:  BRN country2: UGA
error in : country1:  BRN country2: UKR
error in : country1:  BRN country2: GBR
error in : country1:  BRN country2: USA
error in : country1:  BRN country2: URY
error in : country1:  BRN country2: UZB
error in : country1:  BRN country2: VUT
error in : country1:  BRN country2: VEN
error in : country1:  BRN country2: VNM
error in : country1:  BRN country2: YEM
error in : country1:  BRN country2: ZMB
error in : country1:  BRN country2: ZWE
error in : country1:  BGR country2: BRN
error in : country1:  BGR country2: LAO
error in : country1:  BGR country2: KOR
error in : country1:  BFA country2: BRN
error in : country1:  BFA country2: LAO
error in : country1:  BFA country2: KOR
error in : country1:  BDI country2: BRN
error in : country1:  BDI country2: LAO
error in : country1:  BDI country2: KOR
error in : country1:  KHM country2: LAO
error in : country1:  KHM country2: KOR
error in : country1:  CMR country2: LAO
error in : country1:  CMR country2: KOR
error in : country1:  CAN country2: LAO
error in : country1:  CAN country2: KOR
error in : country1:  CPV country2: LAO
error in : country1:  CPV country2: KOR
error in : country1:  CYM country2: LAO
error in : country1:  CYM country2: KOR
error in : country1:  CAF country2: LAO
error in : country1:  CAF country2: KOR
error in : country1:  CHL country2: LAO
error in : country1:  CHL country2: KOR
error in : country1:  CHN country2: LAO
error in : country1:  CHN country2: KOR
error in : country1:  COL country2: LAO
error in : country1:  COL country2: KOR
error in : country1:  COM country2: LAO
error in : country1:  COM country2: KOR
error in : country1:  COG country2: LAO
error in : country1:  COG country2: KOR
error in : country1:  CRI country2: LAO
error in : country1:  CRI country2: KOR
error in : country1:  CIV country2: LAO
error in : country1:  CIV country2: KOR
error in : country1:  HRV country2: LAO
error in : country1:  HRV country2: KOR
error in : country1:  CYP country2: LAO
error in : country1:  CYP country2: KOR
error in : country1:  CZE country2: LAO
error in : country1:  CZE country2: KOR
error in : country1:  COD country2: LAO
error in : country1:  COD country2: KOR
error in : country1:  DNK country2: LAO
error in : country1:  DNK country2: KOR
error in : country1:  DJI country2: LAO
error in : country1:  DJI country2: KOR
error in : country1:  DMA country2: LAO
error in : country1:  DMA country2: KOR
error in : country1:  DOM country2: LAO
error in : country1:  DOM country2: KOR
error in : country1:  ECU country2: LAO
error in : country1:  ECU country2: KOR
error in : country1:  EGY country2: LAO
error in : country1:  EGY country2: KOR
error in : country1:  GNQ country2: LAO
error in : country1:  GNQ country2: KOR
error in : country1:  ERI country2: LAO
error in : country1:  ERI country2: KOR
error in : country1:  EST country2: LAO
error in : country1:  EST country2: KOR
error in : country1:  ETH country2: LAO
error in : country1:  ETH country2: KOR
error in : country1:  FJI country2: LAO
error in : country1:  FJI country2: KOR
error in : country1:  FIN country2: LAO
error in : country1:  FIN country2: KOR
error in : country1:  FRA country2: LAO
error in : country1:  FRA country2: KOR
error in : country1:  GAB country2: LAO
error in : country1:  GAB country2: KOR
error in : country1:  GMB country2: LAO
error in : country1:  GMB country2: KOR
error in : country1:  GEO country2: LAO
error in : country1:  GEO country2: KOR
error in : country1:  DEU country2: LAO
error in : country1:  DEU country2: KOR
error in : country1:  GHA country2: LAO
error in : country1:  GHA country2: KOR
error in : country1:  GRC country2: LAO
error in : country1:  GRC country2: KOR
error in : country1:  GRD country2: LAO
error in : country1:  GRD country2: KOR
error in : country1:  GTM country2: LAO
error in : country1:  GTM country2: KOR
error in : country1:  GIN country2: LAO
error in : country1:  GIN country2: KOR
error in : country1:  GNB country2: LAO
error in : country1:  GNB country2: KOR
error in : country1:  GUY country2: LAO
error in : country1:  GUY country2: KOR
error in : country1:  HTI country2: LAO
error in : country1:  HTI country2: KOR
error in : country1:  HND country2: LAO
error in : country1:  HND country2: KOR
error in : country1:  HUN country2: LAO
error in : country1:  HUN country2: KOR
error in : country1:  ISL country2: LAO
error in : country1:  ISL country2: KOR
error in : country1:  IND country2: LAO
error in : country1:  IND country2: KOR
error in : country1:  IDN country2: LAO
error in : country1:  IDN country2: KOR
error in : country1:  IRN country2: LAO
error in : country1:  IRN country2: KOR
error in : country1:  IRQ country2: LAO
error in : country1:  IRQ country2: KOR
error in : country1:  IRL country2: LAO
error in : country1:  IRL country2: KOR
error in : country1:  ISR country2: LAO
error in : country1:  ISR country2: KOR
error in : country1:  ITA country2: LAO
error in : country1:  ITA country2: KOR
error in : country1:  JAM country2: LAO
error in : country1:  JAM country2: KOR
error in : country1:  JPN country2: LAO
error in : country1:  JPN country2: KOR
error in : country1:  JOR country2: LAO
error in : country1:  JOR country2: KOR
error in : country1:  KAZ country2: LAO
error in : country1:  KAZ country2: KOR
error in : country1:  KEN country2: LAO
error in : country1:  KEN country2: KOR
error in : country1:  KIR country2: LAO
error in : country1:  KIR country2: KOR
error in : country1:  KWT country2: LAO
error in : country1:  KGZ country2: LAO
error in : country1:  KGZ country2: KOR
error in : country1:  LAO country2: TCD
error in : country1:  LAO country2: SLV
error in : country1:  LAO country2: SWZ
error in : country1:  LAO country2: LVA
error in : country1:  LAO country2: LBN
error in : country1:  LAO country2: LSO
error in : country1:  LAO country2: LBR
error in : country1:  LAO country2: LBY
error in : country1:  LAO country2: LTU
error in : country1:  LAO country2: LUX
error in : country1:  LAO country2: MDG
error in : country1:  LAO country2: MWI
error in : country1:  LAO country2: MYS
error in : country1:  LAO country2: MDV
error in : country1:  LAO country2: MLI
error in : country1:  LAO country2: MLT
error in : country1:  LAO country2: MHL
error in : country1:  LAO country2: MRT
error in : country1:  LAO country2: MUS
error in : country1:  LAO country2: MEX
error in : country1:  LAO country2: MDA
error in : country1:  LAO country2: MNG
error in : country1:  LAO country2: MNE
error in : country1:  LAO country2: MAR
error in : country1:  LAO country2: MOZ
error in : country1:  LAO country2: MMR
error in : country1:  LAO country2: NAM
error in : country1:  LAO country2: NRU
error in : country1:  LAO country2: NPL
error in : country1:  LAO country2: NLD
error in : country1:  LAO country2: NZL
error in : country1:  LAO country2: NIC
error in : country1:  LAO country2: NER
error in : country1:  LAO country2: NGA
error in : country1:  LAO country2: MKD
error in : country1:  LAO country2: NOR
error in : country1:  LAO country2: OMN
error in : country1:  LAO country2: PAK
error in : country1:  LAO country2: PLW
error in : country1:  LAO country2: PSE
error in : country1:  LAO country2: PAN
error in : country1:  LAO country2: PNG
error in : country1:  LAO country2: PRY
error in : country1:  LAO country2: PER
error in : country1:  LAO country2: PHL
error in : country1:  LAO country2: POL
error in : country1:  LAO country2: PRT
error in : country1:  LAO country2: PRI
error in : country1:  LAO country2: QAT
error in : country1:  LAO country2: ROU
error in : country1:  LAO country2: RUS
error in : country1:  LAO country2: RWA
error in : country1:  LAO country2: LCA
error in : country1:  LAO country2: VCT
error in : country1:  LAO country2: WSM
error in : country1:  LAO country2: SMR
error in : country1:  LAO country2: STP
error in : country1:  LAO country2: SAU
error in : country1:  LAO country2: SEN
error in : country1:  LAO country2: SRB
error in : country1:  LAO country2: SYC
error in : country1:  LAO country2: SLE
error in : country1:  LAO country2: SGP
error in : country1:  LAO country2: SVK
error in : country1:  LAO country2: SVN
error in : country1:  LAO country2: SLB
error in : country1:  LAO country2: ZAF
error in : country1:  LAO country2: SSD
error in : country1:  LAO country2: LKA
error in : country1:  LAO country2: SDN
error in : country1:  LAO country2: SUR
error in : country1:  LAO country2: SWE
error in : country1:  LAO country2: TJK
error in : country1:  LAO country2: TZA
error in : country1:  LAO country2: THA
error in : country1:  LAO country2: TLS
error in : country1:  LAO country2: TGO
error in : country1:  LAO country2: TON
error in : country1:  LAO country2: TTO
error in : country1:  LAO country2: TUN
error in : country1:  LAO country2: TUR
error in : country1:  LAO country2: TKM
error in : country1:  LAO country2: TUV
error in : country1:  LAO country2: UGA
error in : country1:  LAO country2: UKR
error in : country1:  LAO country2: USA
error in : country1:  LAO country2: URY
error in : country1:  LAO country2: UZB
error in : country1:  LAO country2: VUT
error in : country1:  LAO country2: VEN
error in : country1:  LAO country2: VNM
error in : country1:  LAO country2: YEM
error in : country1:  LAO country2: ZMB
error in : country1:  LAO country2: ZWE
error in : country1:  FSM country2: LAO
error in : country1:  FSM country2: KOR
error in : country1:  KNA country2: LAO
error in : country1:  KNA country2: KOR
error in : country1:  KOR country2: TCD
error in : country1:  KOR country2: SLV
error in : country1:  KOR country2: SWZ
error in : country1:  KOR country2: KWT
error in : country1:  KOR country2: LAO
error in : country1:  KOR country2: LVA
error in : country1:  KOR country2: LBN
error in : country1:  KOR country2: LSO
error in : country1:  KOR country2: LBR
error in : country1:  KOR country2: LBY
error in : country1:  KOR country2: LTU
error in : country1:  KOR country2: LUX
error in : country1:  KOR country2: MDG
error in : country1:  KOR country2: MWI
error in : country1:  KOR country2: MYS
error in : country1:  KOR country2: MDV
error in : country1:  KOR country2: MLI
error in : country1:  KOR country2: MLT
error in : country1:  KOR country2: MHL
error in : country1:  KOR country2: MRT
error in : country1:  KOR country2: MUS
error in : country1:  KOR country2: MEX
error in : country1:  KOR country2: MDA
error in : country1:  KOR country2: MNG
error in : country1:  KOR country2: MNE
error in : country1:  KOR country2: MAR
error in : country1:  KOR country2: MOZ
error in : country1:  KOR country2: MMR
error in : country1:  KOR country2: NAM
error in : country1:  KOR country2: NRU
error in : country1:  KOR country2: NPL
error in : country1:  KOR country2: NLD
error in : country1:  KOR country2: NZL
error in : country1:  KOR country2: NIC
error in : country1:  KOR country2: NER
error in : country1:  KOR country2: NGA
error in : country1:  KOR country2: MKD
error in : country1:  KOR country2: NOR

In [183]:
interaction_matrix

iso_code,AFG,ALB,DZA,ASM,AND,AGO,AIA,ATG,ARG,ARM,...,USA,URY,UZB,VUT,VEN,VNM,WLF,YEM,ZMB,ZWE
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,inf,1.127936,0.728237,-1,-1,0.182107,-1,0.256144,0.1465,3.091159,...,0.829009,0.162927,20.176261,0.037031,0.173025,0.522674,-1,0.248161,0.135143,0.068745
ALB,1.127936,inf,69.636899,-1,-1,2.194329,-1,3.877924,1.663358,23.923311,...,11.517136,1.846761,4.435123,0.134093,2.453794,0.907383,-1,1.265193,1.082893,0.506951
DZA,0.728237,69.636899,inf,-1,-1,3.044,-1,6.71732,2.561176,9.400872,...,17.906662,2.845187,2.761002,0.133408,4.10403,0.781485,-1,0.931244,1.27191,0.585334
ASM,-1,-1,-1,inf,0.0,-1,0.0,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,0.000003,-1,-1,-1
AND,-1,-1,-1,0.0,inf,-1,0.0,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,0.0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,0.522674,0.907383,0.781485,-1,-1,0.321637,-1,0.477407,0.405891,1.146206,...,1.637121,0.44799,1.561162,0.322326,0.335816,inf,-1,0.199378,0.274481,0.148449
WLF,-1,-1,-1,0.000003,0.0,-1,0.0,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,inf,-1,-1,-1
YEM,0.248161,1.265193,0.931244,-1,-1,0.457178,-1,0.255443,0.191092,1.716811,...,0.647486,0.214286,0.658424,0.021786,0.174428,0.199378,-1,inf,0.372735,0.180676
ZMB,0.135143,1.082893,1.27191,-1,-1,6.690327,-1,0.715799,0.911153,0.796669,...,1.357112,1.03648,0.403873,0.052657,0.522849,0.274481,-1,0.372735,inf,44.112617
ZWE,0.068745,0.506951,0.585334,-1,-1,2.349426,-1,0.344792,0.458544,0.386567,...,0.655245,0.521251,0.203805,0.028689,0.253598,0.148449,-1,0.180676,44.112617,inf

In [205]:
interaction_matrix.to_excel('..\Data\Interaction_matrix\interaction_matrix.xlsx', index=True)

In [206]:
interaction_matrix.to_csv('..\Data\Interaction_matrix\interaction_matrix.csv', index=False)